@tailwind base;
@tailwind components;
@tailwind utilities;

svg {
   max-width: 100%;
   height: auto;
   fill: currentColor;
}
body {
   &.no-scroll {
      @apply overflow-hidden;
   }
}
li {
   list-style: none;
}
/* Menu Icon */
.menu-icon {
   @apply relative isolate;

   &.hamburguer {
      transition-property: background-color, height, width;
      transition-duration: 0.4s;
      transition-timing-function: ease;
      border-radius: 25px 0 0 25px;
      z-index: 6;
      @apply flex w-16 h-16 justify-center items-center relative cursor-pointer bg-primary;
      @media screen(laptop) {
         @apply hidden;
      }
      span {
         height: 0.3rem;
         width: 2.4rem;
         transition: transform 0.5s ease, background-color 0.5s ease;
         @apply bg-black w-9 h-1 inline-block absolute mx-auto rounded-2xl;
      }
      span:nth-child(1) {
         transform: translateY(-0.8rem);
      }

      span:nth-child(3) {
         transform: translateY(0.8rem);
      }

      /* Animacion cuando "isActive" es true */
      &.change {
         width: 3.8rem;
         height: 3.8rem;
         border: 2px solid black;
         @apply w-12 h-12 bg-transparent rounded-full;
         transform: translate(-2.5rem, 2.2rem);
         span {
            @apply bg-black;
         }
         span:nth-child(1) {
            transform: rotateZ(42.19deg) scale(0.45);
            width: 3.4rem;
         }

         span:nth-child(2) {
            @apply opacity-0;
         }

         span:nth-child(3) {
            transform: rotateZ(-42.19deg) scale(0.45);
            width: 3.4rem;
         }

         .bg-menu {
            opacity: 1;
         }
      }
   }

   .bg-menu {
      z-index: -1;
      top: 0;
      width: 4.5rem;
      height: 8.5rem;
      @apply absolute right-0 opacity-0;
   }
}
