.Navbar {
  @apply flex flex-col items-center justify-center gap-4 px-8 fixed w-full bg-primary text-black h-80;
  top: 0;
  left: 0;
  transform: translateY(-100%);
  transition: transform 0.4s ease;
  z-index: 5;
  @media screen(laptop) {
    @apply relative bg-transparent flex flex-row justify-end items-center gap-10 h-full p-0 text-primary;
    transform: translateY(0);
  }
}

.Navbar_active {
  transform: translateY(0);
}
